site_name: Shared Notes
nav:
  - Home: index.md
  - About: about.md
theme:
  name: material
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight
  - abbr
  - attr_list
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.tabbed
  - pymdownx.tasklist
  - def_list
  - md_in_html
